/* Variables */
@use './variables' as *;

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
    // outline: none;
}
a:focus,
a:active {
    // outline: none;
}

html,
body {
    height: 100%;
    min-width: $minWidth;
}
body {
    color: $mainColor;
    line-height: 1;
    font-family: $fontFamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}
input,
button,
textarea {
    font-family: $fontFamily;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    resize: none;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}
a {
    color: inherit;
    text-decoration: none;
}
a,
::before,
::after {
    display: inline-block;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
.wrapper {
    min-height: 100svh; // 100vh for fullscreen display: flex; flex-direction: column;
    position: relative; // for toTop
}
.max-width {
    max-width: $maxWidth + px; // for full background $maxWidth + px
    margin: 0 auto;
}
.main {
    background-color: teal;
}
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding-inline: $containerPadding + px;
}

// for functions.js
html.lock {
    overflow: hidden;
}

html.touch body {
    background: #ffe082;
}

html:not(.touch) body {
    background: #e1f5fe;
}

html.touch .menu:hover {
    pointer-events: none; // отключить hover-эффекты на мобилках
}
