/* Fonts */
$fontFamily: '';

/* Colors */
$mainColor: white;
$yellow: rgb(255, 240, 210);

/* Breakpoints */
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1273;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина р абатывания первого брейкпоинта

/* Dimensions */
$TV_8k: 7680 + px; // 7680x4320 — максимальное доступное на рынке разрешение для крупных телевизоров.
$TV_4k: 3840 + px; // 3840x2160 — стандарт для большинства телевизоров среднего и высокого класса.
$TV_fullHD: 1921 + px; // 1920x1080 — минимальный стандарт для большинства современных телевизоров.
$iMac: 1399 + px;
$macBook: 1199 + px;
$ipad: 991 + px;
$ipod: 767 + px;
$iphone: 575 + px;
