.calculator {
  border: 1px solid rgb(94, 88, 88);
  width: 300px;
  background-color: teal;
  padding-top: 30px;
  border-radius: 25px;

  .calculatorInput {
    display: block;
    width: 250px;
    height: 30px;
    margin: 0 auto;
    opacity: 0.7;
    color: black;
    font-size: 24px;
  }

  .calculatorButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    .calculatorButton__row {
      width: 250px;
      height: 50px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
    }
  }

  .calculatorButtonNumber {
    border: 1px solid black;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 25%;
    transition-duration: 300ms;

    &.plus,
    &.minus,
    &.multiply,
    &.division {
      background-color: rgb(216, 186, 51);
    }

    &.reset {
      background-color: rgb(206, 88, 88);
    }

    &:nth-child(2) {
      margin-right: 2.5px;
      margin-left: 5px;
    }

    &:nth-child(3) {
      margin-right: 5px;
      margin-left: 2.5px;
    }

    &:hover {
      background-color: white;
    }
  }
}