.page__image {
  position: relative;
  background: url("../img/loading.gif") center / 50px no-repeat;
}

.page__map {
  position: relative;
  background: url("../img/loading.gif") center / 50px no-repeat;
}
