// Quantity
.quantity {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  &__button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    background-color: transparent;
  }
  &__minus {
    cursor: pointer;
  }

  &__number {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__plus {
    cursor: pointer;
  }
}
