// Accordion
.accordion {
  width: 500px;
  &__block {
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin-top: 7px;
  }
  &__block:first-child {
    margin-top: 0;
  }
  &__title {
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    transition: all 250ms ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  &__text {
    color: black;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(91, 91, 91);
    font-size: 24px;
  }
  &__icon::before {
    content: "+";
    display: flex;
  }
  &__icon.active:before {
    content: "–";
  }
  &__content {
    width: 100%;
    background-color: #1111112e;
    max-height: 0px;
    overflow: hidden;
    transition: all 200ms linear;
    color: white;
  }
}
