// Switch
.switch {
  &__input[type="checkbox"] {
    display: none;
  }
  &__label {
    display: block;
    width: 90px;
    height: 40px;
    border-radius: 35px;
    background-color: grey;
    transition: all 250ms ease 0s;
    cursor: pointer;
    position: relative;
  }
  &__label::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    top: 4.5px;
    left: 4.5px;
    transition: all 250ms ease 0s;
  }
  &__input:checked + &__label {
    background-color: green;
  }
  &__input:checked + &__label:before {
    transform: translate(calc(100% + 20px), 0%);
  }
}
